@page
@model ExpensiveControlApp.Pages.Budgets.DetailsModel

@{
    ViewData["Title"] = "Detalle del Presupuesto";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h3 class="card-title mb-4">Detalle del Presupuesto</h3>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Budget.ExpenseType)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Budget.ExpenseType.Id)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Budget.MonetaryFund)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Budget.MonetaryFund.Name)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Budget.Month)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Budget.Month)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Budget.Year)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Budget.Year)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Budget.Amount)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Budget.Amount)</dd>
                    </dl>

                    <div class="d-flex justify-content-between mt-4">
                        <a asp-page="./Edit" asp-route-id="@Model.Budget.Id" class="btn btn-warning">Editar</a>
                        <a asp-page="./Index" class="btn btn-outline-secondary">Volver</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
